fastapi==0.115.4
uvicorn[standard]==0.30.6

SQLAlchemy==2.0.36
psycopg2-binary==2.9.9
alembic==1.13.3

pydantic==2.9.2
pydantic-settings==2.5.2
python-multipart==0.0.9
passlib[bcrypt]==1.7.4
email-validator==2.3.0
python-jose[cryptography]==3.3.0

# Si usarás migración desde Excel en el servidor (opcional):
pandas==2.2.3
openpyxl==3.1.5

# Si en algún endpoint vas a tocar Google Sheets (opcional):
gspread==6.1.4
oauth2client==4.1.3
