fastapi==0.115.4
uvicorn[standard]==0.30.6

# ORM + PostgreSQL
SQLAlchemy==2.0.36
psycopg2-binary==2.9.9
alembic==1.13.3

# Validaciones y utilidades FastAPI
pydantic==2.9.2
pydantic-settings==2.5.2
python-multipart==0.0.9
email-validator==2.3.0
jinja2==3.1.4

# Seguridad (JWT + hashing de passwords)
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.1.2

# Excel (solo si usas migración desde Excel en producción)
pandas==2.2.3
openpyxl==3.1.5

# Google Sheets (opcional)
gspread==6.1.4
oauth2client==4.1.3

